/* imports main font work sans light 300 */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Work+Sans:wght@300&display=swap');

#root {
  min-height: 100vh;
  /* display: flex; */

  /* background to be filled in later */
  /* background-image: url("../assets/wp3269174-grey-wallpapers.jpg"); */
  /* background-size: cover; */

  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
